<IfModule mod_rewrite.c>
    RewriteEngine On

    # 1. Redirect the root (empty path) to the public folder
    RewriteRule ^$ src/public/index.php [L]

    # 2. If the request isn't for a real file or directory...
    RewriteCond %{REQUEST_FILENAME} !-f
    RewriteCond %{REQUEST_FILENAME} !-d

    # 3. ...send it to public/index.php
    RewriteRule ^(.*)$ src/public/index.php [QSA,L]
</IfModule>